
body {
	color: #aaa;
	background-color: #191B1C;
}

#pixi-container {
	width:898px;
	height:445px;
	margin: 0 auto;
	position:relative;
	transform: translateZ(0); /*fix compositing*/
}

button.iconbutton {
	height: 48px;
	min-width: 48px;
}

button.iconbutton i {
	font-size: 48px;
	position: relative;
	top: 0px;
}

.spin-container {
	width: 28px;
	height: 28px;
	margin: 208px auto;
	padding-left: 14px;
}

.page-content {
	max-width:1280px;
	min-width:950px;
	margin: 32px auto;
}


.label-sldier .mdl-slider__container {
	top: 11px;
}

.label-sldier p {
	line-height: 40px;
	margin: 0;
}

.controls-grid {
	background-color: rgb(32, 34, 36);
	/*padding-bottom: 0px;
	height:51px;*/
}
.controls-grid > .mdl-cell {
	white-space:nowrap;
}
.controls div.tracks-panel {
	position:relative;
	background-color:#16181A;
	min-width: 120px;
}

.controls p.track-label {
	padding-left: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
	margin-bottom: 4px;
}
.controls div.tracks-panel span {
	position: absolute;
	color: rgb(58, 59, 61);
	top: 10px;		
	right: 16px;
}

.sequencer-grid {
	background-color: rgb(18, 19, 20);
}

#cell-edit-controls {
	display: none;
	position: relative;
	z-index: 1;
}

#cell-edit-controls .container #close-cell-edit {
	position: absolute;
	right: -8px;
	top:-8px; 
}


#cell-edit-controls .container #cell-play-button {
	position: absolute;
	top: 40px;
	left: 270px;
}

#cell-edit-controls .container .cell-edit-sliders {
	position: absolute;
	width: 826px;
	color:#fefefe;
	background-color: rgb(12, 120, 208);
	top: 256px;
	left: 26px;
}